.App {
  background-color: black;
  height: 100vh;
  width: 100vw;
}

#keyboard {
  border: solid red 5px;
  position: relative;
  height: 180px;
}

#whiteKeys{
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  /*justify-content: space-around;*/
}

#blackKeys{
  width: 100vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.whiteKey {
  background-color: white;
  width: 30px;
  height: 160px;
  border: solid black 1px
}

.blackKey {
  background-color: black;
  width: 20px;
  height: 80px;
}
